<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- To Check --}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    {{!-- <img id="imgball" src="/img/ball_img.png" alt="ball" width="24" height="24" style="display: none;">
    <canvas id="gameScreen" width="800" height="600" style="border:1px solid #000000; margin-top:10px;"></canvas>
    <script type="module" src="/js/canvasGame.js"></script> --}}

    <div class="main-content">
        {{> header}}
        {{ errorMessage }}

    </div>

    {{> footer}}
</body>

</html>