body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

.portrait {
  width: 250px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
}

.forecast-content {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  padding: 10px;
}

#message-1,
#message-2 {
  font-size: 1.6em;
  font-weight: 700;
  padding-top: 20px;
  text-align: center;
}

#message-3 {
  font-size: 2em;
  font-weight: 400;
  margin: auto auto;
}

#message-2,
#message-4,
#message-5,
#message-6 {
  font-size: 1em;
  font-weight: 600;
}

#message-4,
#message-5,
#message-6 {
  text-align: left;
}

.weather-icon {
  display: block;
  margin: auto;
}
